*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
    
body {
    background-color: #1dabca;
    display: flex;
    justify-content: center;
}

.container {
    height: 50px;
    text-align: center;
}

h2 {
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 2em;
}

.quote-style {
    margin-top: 80px;
    margin-bottom: 10px;
    font-size: 3em;
    padding: 80px 130px 50px 140px;
}

button {
    margin-top: 15px;
    padding: 10px 25px;
    color: #fff;
    background-color: #0378A6;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline:none;
}

button:hover {
    background-color: #02678f;
}
